<h1><%= @tour.tourname %></h1>
<ul>
  <li>場所：<%= @tour.place %></li>
  <li>日程：<%= @tour.date_start %>~<%= @tour.date_end %></li>
</ul>

<div class="card my-3">
  <div class="card-body">
    <% @itinerary.each do |itinerary| %>
      <h4 class="card-title"><%= itinerary.todo %></h4>
      <h6 class="card-subtitle mb-2 text-muted">出発時間：<%= itinerary.depart_time %></h6>
      <p class="card-text">出発場所:<%= itinerary.depart_place %></p>
      <p class="card-text">交通手段:<%= itinerary.moving_way %></p>
      <p class="card-text">メモ:<%= itinerary.moving_way %></p>
    <% end %>
  </div>
</div>

<a class="btn btn-light btn-block" href="<%= tours_path %>" role="button">みんなの計画一覧</a>