<h1>わたしの計画</h1>

  <div>
    <a class="btn btn-primary btn-block" href="<%= new_tour_path %>" role="button">計画をつくる</a>
  </div>
  
  <ul class="nav nav-tabs nav-justified mb-3">
    <li class="nav-item"><a href="<%= tours_path %>" class="nav-link <%= 'active' if current_page?(tours_path) %>">みんなの計画</a></li>
    <li class="nav-item"><a href="<%= tours_user_path(current_user) %>" class="nav-link <%= 'active' if current_page?(tours_user_path(current_user)) %>">私の計画</a></li>
  </ul>
  
<% @tours.each do |tours| %>
  <div class="card my-3">
    <div class="card-body">

      <h4 class="card-title"><%= tours.tourname %></h4>
      <h6 class="card-subtitle mb-2 text-muted"><%= tours.place %></h6>
      <p class="card-text"><%= tours.date_start %>~<%= tours.date_end %></p>
      <div class="mb-auto">
        <a href="<%= tour_path(tours) %>" class="card-link">詳細</a>
        <%= link_to "削除", tours, method: :delete, data: { confirm: "You sure?" } %>
      </div>

    </div>
  </div>
<% end %>


